.buy__banner {
  width: 100%;
  background-color: var(--white);
  border-radius: 56px;
  padding: 42px 60px;
  color: var(--black-01);
  background-repeat: no-repeat;
  background-position: 103% top;
  background-size: contain;
  margin-top: 93px;
}

.buy__banner:nth-child(4) {
  background: #292929;
  color: #fff;
}

.buy__banner .title {
  font-size: 63px;
  font-weight: 400;
  margin-bottom: 31px;
}

.buy__banner .text {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 100px;
}

.buy__banner .bottom {
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.buy__banner .bottom div {
  display: flex;
  gap: 55px;
}

.buy__banner .bottom button {
  border-radius: 77px;
  color: #eaeaea;
}

@media (max-width: 1200px) {
  .buy__banner {
    padding: 24px;
    margin-top: 80px;
  }
  
  .buy__banner .title {
    font-size: 60px;
    margin-bottom: 10px;
  }
  
  .buy__banner .text {
    font-size: 26px;
    margin-bottom: 120px;
  }
  
  .buy__banner .bottom {
    font-size: 20px;
  }
  
  .buy__banner .bottom div {
    gap: 40px;
  }
}

@media (max-width: 900px) {
  .buy__banner {
    padding: 24px;
    margin-top: 80px;
    background-position: 95%;
    background-size: cover;
  }
  
  .buy__banner .title {
    font-size: 60px;
    margin-bottom: 10px;
  }
  
  .buy__banner .text {
    font-size: 26px;
    margin-bottom: 120px;
  }
  
  .buy__banner .bottom {
    font-size: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .buy__banner .bottom button {
    margin: 20px auto 0 auto;
    width: 100%;
    padding: 14px;
    font-size: 26px;
  }
  
  .buy__banner .bottom div {
    gap: 40px;
  }
}

@media (max-width: 940px) {
  .buy__banner .title {
    font-size: 50px;
  }
  
  .buy__banner .text {
    font-size: 22px;
  }
}

@media (max-width: 762px) {
  .buy__banner {
    margin-top: 40px;
  }
  
  .buy__banner .title {
    font-size: 40px;
  }
  
  .buy__banner .text {
    font-size: 19px;
  }
  
  .buy__banner .bottom > div {
    flex-flow: column;
    gap: 15px;
  }
  
  .buy__banner .bottom > div > p {
    font-size: 16px;
  }
  
  .buy__banner .bottom .order {
    min-width: 100% !important;
  }
}

@media (max-width: 511px) {
  .buy__banner .title {
    font-size: 30px;
  }
  
  .buy__banner .text {
    font-size: 15px;
  }
  
  .buy__banner .bottom .order {
    height: 50px;
    font-size: 14px;
    margin-bottom: 20px;
    min-width: 100% !important;
  }
}

@media (max-width: 434px) {
  .buy__banner .title {
    font-size: 23px;
  }
  
  .buy__banner .text {
    font-size: 13px;
  }
}